<div class="page-wrapper">

    <div class="header-row">
        <h2>Dynamic Number Table</h2>

        <div class="speed-wrapper">
            <div class="speed-title">Speed Control</div>

            <div class="knob-container" [style.--angle]="knobAngle + 'deg'" [style.--speedColor]="speedColor"
                (mousedown)="startKnobDrag($event)">

                <div class="knob">
                    <div class="indicator"></div>
                </div>

                <div class="ticks">
                    <span *ngFor="let t of ticks; let i = index"
                        [style.transform]="'rotate(' + (i * (270/ticks.length)) + 'deg)'">
                    </span>
                </div>
            </div>

            <div class="speed-value">
                {{ ((1000 - speed) / 100) | number:'1.0-0' }}x
            </div>
        </div>
    </div>


    <div class="table-container">
        <div class="timer" *ngIf="timerStarted">
            Timer: {{ timer.toFixed(1) }}s
        </div>

        <table class="custom-table">
            <thead>
                <tr>
                    <th *ngFor="let h of headings">{{ h }}</th>
                </tr>

                <tr>
                    <th *ngFor="let h of headings; let i=index">
                        <input [(ngModel)]="inputs[i]" type="number" placeholder="Enter value"
                            (keydown.enter)="add(i, inputs[i]); inputs[i] = ''" />
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of visibleRows">
                    <td *ngFor="let col of row.cols">{{ col }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>